__pycache__/FOM.cpython-311.pyc
__pycache__/ROM.cpython-311.pyc
__pycache__
sigs.png
results/*.npz
results/*.pickle
.vscode/settings.json
paraview/
mesh_3holes.xml
barbell
log.log
**/*.log
**/recompile.sh
**./*.cpp
**/*.log*
jitfailure-dolfin_subdomain_86ad6a9d3641cda155b4dcd8d8b98594/README
jitfailure-dolfin_expression_695bbd5cb1db622f41586229637dc267/README
jitfailure-dolfin_subdomain_86ad6a9d3641cda155b4dcd8d8b98594/dolfin_subdomain_86ad6a9d3641cda155b4dcd8d8b98594.cpp
jitfailure-dolfin_expression_695bbd5cb1db622f41586229637dc267/dolfin_expression_695bbd5cb1db622f41586229637dc267.cpp
results_equal_dG/**
run-fencis.err.0
run-fencis.out.0
results.tar.gz
